@font-face {
    font-family: astonpoliz;
    src: url(../fonts/Astonpoliz/Astonpoliz.otf),url(../fonts/Astonpoliz/Astonpoliz.ttf);
}
*{
    list-style: none;
    text-decoration: none;
    font-family: astonpliz;
    font-size: 20px;
    box-sizing: border-box;
}
body{
    margin: 0;
}
a{
    color: #fff;
}
header{
    position: relative;
    height: 60px;
    background: #011936;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
header .panier{
    color: #d9af23;
    position: absolute;
    right: 10px;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

.navbar{
    /* position: absolute; */
    /* right: 10px;     */
}
/* mettre les navbar cote à cote */
.navbar .link{
    display: flex;
    align-items: center;
    margin: auto;
}
.navbar .link span{
    position: relative;
    margin-right: 40px;
}
.navbar .link a{
    padding: 10px; 
}
#product-link{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar a:hover{
    color: #d9af23;
   
}

.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.product-item{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: #011936 1px solid;
    padding: 15px;
}
sale-list {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: #011936 1px solid;
    padding: 15px;
}
.product-image img{
    width: 240px;
}
.product-title{
    margin-bottom: 0.5rem;
}
.product-price{
    display: flex;
    justify-content: center;
    color: #011936;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.product-price span {
    font-size: xx-large;
}
.command-container {
    display: flex;
    justify-content: center;
    gap: 2px;
    color: #011936;
    font-weight: bold;
    
}
.command-container .command-number input{
    width: 50px;
    height: 43px;
    padding: 0 3px ;
    text-align: center;
    border: #011936 5px solid;
}
.btn-command{
    background: #011936;
    color: #d9af23;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}


                        /* Debut Panier */
/* -------------------------------------------------------------- */
.panier-title{
    height: 35px;
}
panier-list{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin: 5px;
}
.panier-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    background: #ddd;
    padding: 20px;
}
.panier-product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #011936 1px solid;
    padding: 20px 5px;
}
.panier-product-img img{
    width:110px;
    
}
.panier-product-number {
    display: flex;
}
.panier-product-number span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #011936;
    width: 30px;
    height: 40px;
}
.panier-product-number .product-number{
    width: 30px;
    height: 40px;
    text-align: center;   
}
.panier-left, .panier-right{
    background: #fff;
    padding: 20px;
}
.panier-left{
    width: 60%;
}
.panier-right{
    width: 35%;
}
.cash-in{
    position: relative;
    height: 35px;
}
.title{
    position: absolute;
    left: 10px;
}
.cash{
    position: absolute;
    right: 10px;
}
.valid-command-btn{
    display: flex;
    justify-content: center;
}
